body {
  background: #fff;
  color: #000;
  font: 100%/1.4 "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  padding: 0;
  -webkit-text-size-adjust: none;
  margin: 0px;
}
a {
  color: #808080;
  text-decoration: none;
}
a:hover, a:focus {
  color: #e51837;
}
p {
  margin: 0 0 1em;
}
img, object, video {
  max-width: 100%;
  border: 0;
}
a img {
  border: 0;
  outline: 0;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 30px;
  border-bottom: 1px solid black;
  background: teal;
}

.search {
  height: 30px;
}

.search i.searchIcon {
  padding-left: 5px;
  color: #FFF;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.15);
}

.search input.searchInput {
  width: 120px;
  margin: 4px 5px;
  padding: 1px 0;
  height: 20px;
  transition: width 0.3s ease-in-out;
}

.search input:focus {
   width: 240px;
}

.pattern {
  background: #f7f7f7;
  border-bottom: 1px solid #808080;
  overflow: hidden;

  margin-top: 31px;
}
.pattern-description h1 {
  font-size: 3.4em;
  margin-bottom: 0.5em;
}
.pattern-description {
  max-width: 40em;
  margin: 0 auto;
}
.pattern-description ul, .pattern-description ol {
  margin-bottom: 2em;
}
.pattern-description li {
  margin-bottom: 1em;
}

ul.list {
  padding: 0 2em;
}

.list li {
  background: url(images/icon_arrow_right.png) no-repeat 97% 50%;
  border-bottom: 1px solid #ccc;
  display: table;
  border-collapse: collapse;
  width: 100%;
}

.list li[hidden] {
  display: none;
}

.list li:last-child {
  border-bottom: 0;
}

.inner {
  display: table-row;
  overflow: hidden;
}
.li-img {
  display: table-cell;
  vertical-align: middle;
  padding-right: 1em;
}
.li-img img {
  display: block;
  width: 100%;
  height: auto;
}
.li-text {
  display: table-cell;
  vertical-align: middle;
  width: 70%;
  padding-right: 1em;
}
.li-head {
  margin: 0;
}
.li-summary {
  display: none;
  margin: 0;
}
.li-action {
  margin: 0;
}

@media screen and (min-width: 40em) {
  .list li {
    background: none;
  }
  .li-summary {
    display: block;
  }
}

@media screen and (min-width: 60em) {
  .list li {
    float: left;
    width: 50%;
  }
  .inner {
    padding-right: 1em;
  }
}

@media screen and (min-width: 100em) {
  .list li {
    float: left;
    width: 25%;
  }
  .inner {
    padding-right: 1em;
  }
}