doctype html5
html
  head
    title= title 
    link(rel="stylesheet", href="/public/style.css")
    link(rel="stylesheet", href="/public/font-awesome.min.css")
    script(type="text/javascript", src="/public/client.js")
    body
      main
          section
            block content
    block post-script