html
    head
        block headpage
        meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
        link(rel="stylesheet", type="text/css", href="/dependencies/font-awesome-css/css/font-awesome.min.css")
        link(rel="stylesheet", type="text/css", href="/dependencies/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", type="text/css", href="/style.css")

        script(src="/dependencies/jquery/dist/jquery.min.js")
        script(src="/dependencies/bootstrap/dist/js/bootstrap.min.js")
        script(src="/app.js")
    body
        block header
        block navigation
        block content
        block footer